<html>
	<head>
		<title>授权结果</title>
		<% include head_link%>
		<script type="text/javascript">     
			function countDown(secs,surl){     
			 	var jumpTo = document.getElementById('jumpTo');
			 	jumpTo.innerHTML=secs;  
			 	if(--secs>0){     
			     	setTimeout("countDown("+secs+",'"+surl+"')",5000);     
			     } else {       
			     	location.href=surl;     
			     }     
			 }     
		</script> 
	</head>
	<body>
		<% include navbar%>
		<ul>
			<% if (result == "error") { %>
			  	<h2>授权失败！</h2>
			<% } else if (result == "success") { %>
				<h2>授权成功！</h2>
			<% } else if (result == "cancel") { %>
				<h2>取消授权！</h2>
			<% } else { %>
				<h2>未知结果！</h2>
			<% } %>
		</ul>
		<span id="jumpTo">5</span>秒后自动跳转到http://www.baidu.com/
		<script type="text/javascript">countDown(5,'http://www.baidu.com/');</script> 
	</body>
</html>