<html>
	<head>
		<title>授权结果</title>
		<% include head_link%>
		<script type="text/javascript">     
			function countDown(secs,surl){     
			 	var jumpTo = document.getElementById('jumpTo');
			 	jumpTo.innerHTML=secs;  
			 	if(--secs>0){     
			     	setTimeout("countDown("+secs+",'"+surl+"')",5000);     
			     } else {       
			     	location.href=surl;     
			     }     
			 }     
		</script> 
	</head>
	<body>
		<% include navbar%>
		<div class="ui grid">
			<div class="one wide column">
			</div>
			<div class="fourteen wide column">
				<% if (result == "error") { %>
				  	<div class="ui error message">
					  	<div class="header">
					      	授权失败！
					  	</div>
					  	<ul class="list">
					      	<li>OAuth2.0授权失败！</li>
					      	<li><%= info%></li>
					      	<li>可重新点击右上角“授权”按钮重新授权。</li>
					  	</ul>
					</div>
				<% } else if (result == "success") { %>
					<div class="ui success message">
					  	<div class="header">
					      恭喜！授权成功！我们将拥有获取您新浪微博的权限。
					  	</div>
					</div>
				<% } else if (result == "cancel") { %>
					<div class="ui warning message">
					  	<div class="header">
					      您已经取消授权！我们将无法获得您的微博信息！
					  	</div>
					</div>
				<% } else { %>
					<div class="ui warning message">
					  	<div class="header">
					      好桑心！攻城狮们也不知道粗了什么问题……
					  	</div>
					</div>
				<% } %>
			</div>
			<div class="one wide column">
			</div>
			<div class="one wide column">
			</div>
			<div class="fourteen wide column">
				<div class="ui large message">
		  			<span id="jumpTo">3</span>秒后自动跳转回主页
					<script type="text/javascript">countDown(3,'http://zjq.101a.net');</script> 
		        </div>
		    </div>
		</div>
	</body>
</html>