<html>
	<head>
		<title><%= title%></title>
		<% include head_link%>
	</head>
	<body>
		<h1><%= title%></h1>
		<p>Welcome to <%= title%></p>
		<div><img src="/Flat-UI-master/img/icons/svg/retina.svg" alt="Retina"></div>
		<span class="fui-question-circle"></span>
	</body>
</html>