<html>
	<head>
		<title>OAuthTest</title>
		<% include head_link%>
	</head>
	<body>
		<% include navbar%>
		<div class="ui grid">
			<div class="one wide column">
			</div>
			<div class="ten wide column">
				<div class="ui piled feed segment">
				 	<h2 class="ui header">
				    	微博广场
					</h2>
					<% for(i = 0; i < data.statuses.length; i++){%>
						<div class="event">
					      	<div class="label">
					        	<a href="http://blog.sina.com.cn/zaku" target="_blank">
					        		<img src=<%= data.statuses[i].user.profile_image_url%>>
					        	</a>
					      	</div>
					      	<div class="content">
					         	<div class="date">
					              <%= data.statuses[i].created_at%>
					          	</div>
					          	<div class="summary">
					              <a href="http://blog.sina.com.cn/zaku" target="_blank"><%= data.statuses[i].user.screen_name%></a>发布微博
					          	</div>
					          	<div class="extra text">
					              <%= data.statuses[i].text%>
					          	</div>
					      </div>
					  	</div>
					<%	} %>
				</div>
			</div>
			<div class="five wide column">
				<div class="ui items">
				  	<div class="item">
				      	<div class="image">
				          	<img src="/images/seal.jpg">
				      	</div>
				      	<div class="content">
				          	<div class="name red">Welcome</div>
				          <p class="description">欢迎来到OAuthTest！这是一个测试新浪微博OAuth2.0授权功能的应用网站，您可以点击右上角的“授权”按钮，授权本网站获取您的微博信息。感谢使用！</p>
				      	</div>
				    </div>
				</div>
			</div>
		</div>
	</body>
</html>