<div class="ui large menu">
	<div class="title item">
		<b>OAuthTest</b>
    </div>
	<a class="item" id="nav-allweibo" href="/posts/show">
		<i class="weibo icon"></i> 微博广场
	</a>
	<a class="item" id="nav-userlist" href="/users/show">
		<i class="users icon"></i> 用户列表
	</a>
	<div class="right menu">
		<div class="item">
		    <a class="ui youtube button" href="/authorize">
		    	<i class="weibo icon"></i> 授权
		    </a>
		</div>
	</div>
</div>