<html>
	<head>
		<title>用户列表</title>
		<% include head_link%>
	</head>
	<body>
		<% include navbar%>
		<div class="ui items">
			<% for(i = 0; i < userlist.length; i++){%>
		  	<div class="item">
		      	<div class="image">
		          	<img src=<%=userlist[i].avatar_large%>>
		      	</div>
		      	<div class="content">
		          	<div class="name"><%=userlist[i].screen_name%></div>
		          	<p class="description">
						<%= userlist[i].status.text%>
		          	</p>
		          	<div class="extra">
		              	<%= userlist[i].followers_count%>个粉丝
		          	</div>
		      	</div>
		  	</div>
		  	<%	} %>
		<div>
	</body>
</html>