<html>
	<head>
		<title>用户列表</title>
		<% include head_link%>
	</head>
	<body>
		<% include navbar%>
		<div class="ui grid">
			<% for(i = 0; i < userlist.length; i++){%>
				<div class="event">
					      	<div class="label">
					        	<a href="<%= userlist[i].url%>" target="_blank">
					        		<img src=<%= userlist[i].profile_image_url%>>
					        	</a>
					      	</div>
					      	<div class="content">
					          	<div class="summary">
					            	<a href="<%= userlist[i].url%>" target="_blank"><%= userlist[i].screen_name%></a>
					          	</div>
					      </div>
					  	</div>
			<%	} %>
		</div>
	</body>
</html>